@model Entidades.Usuario

@{
    ViewBag.Title = "Login";
}

<h2>Inicio de Sesión</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="col-md-8">

            <h4>YA TENGO UNA CUENTA</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Usr, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Usr, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Usr, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Psw, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Psw, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Psw, "", new { @class = "text-danger" })
                </div>

                @if (Session["ErrorLogin"] != null)
                {
                    <div class="alert-danger">

                        @Html.ActionLink("Error: " + Session["ErrorLogin"] + "!", "Index", "Cuenta")

                    </div>
                }
            </div>

        </div>

        <div class="col-md-4">
            <h4>SOY USUARIO NUEVO</h4>
            <hr />

            @*Bienvenido a Implantagraf.*@ 
            @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@

           
                
                
            <p><a href="~/Registro/Registrar" class="btn btn-info" role="button">Registrarme</a></p>
        

        </div>


        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <input type="submit" value="Iniciar Sesión" class="btn btn-default" />
                @Html.ActionLink("¿Olvidó su Contraseña?", "ForgotPassword")
            </div>
        </div>

    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


