@model Entidades.Usuario

@{
    ViewBag.Title = "Login";
}

@Html.Partial("_Espacio1")

<body>

    <div class="container contact_container">
   
        <div class="row">

            <div class="col-lg-9 contact_col">
                <div class="contact_contents">

                    @using (Html.BeginForm())
                    {
                        <h4>TENGO UNA CUENTA</h4>
                        <hr />


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.Usr, htmlAttributes: new { @class = "control-label col-md-2" })

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Usr, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Usr, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Psw, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Psw, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Psw, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input type="submit" value="Iniciar Sesión" class="btn btn-success btn-sm" />

                                @Html.ActionLink("¿Olvidó su Contraseña?", "RecuperarPsw", "Cuenta")
                            </div>
                        </div>

                        @*@if (Session["ErrorLogin"] != null)
                                {
                            <div class="alert alert-danger" role="alert">@Session["ErrorLogin"]!</div>
                                }*@

                    }

                </div>
            </div>

            <div class="col-lg-3 contact_col">
                <div class="contact_contents">
                    
                    <h4>SOY USUARIO NUEVO</h4>
                    <hr />

                    <p><a href="~/RegistroCliente/Index" class="btn btn-lg btn-success" role="button">Registrarse</a></p>

                </div>
            </div>

        </div>
    </div>
</body>

@Html.Partial("_Espacio2")





