@model Entidades.FrmLogin

@Html.Partial("_Espacio1")

<body>

    <div class="container contact_container">

        <div class="row">

            <div class="col-lg-9 contact_col">
                <div class="contact_contents">

                    @using (Html.BeginForm("Login","Login"))
                    {
                        <h4>@Presentacion.Recursos.Recursos.LOGIN_TITULO_TENGO_CUENTA</h4>
                        <hr />
                        
                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control"@*, placeholder = "Ingrese Usuario..."*@ } })
                                
                                
                                @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger text-right" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Contraseña, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Contraseña, new { htmlAttributes = new { @class = "form-control"@*, placeholder = "Ingrese Contraseña..."*@ } })
                                                               
                                @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger text-right" })
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input type="submit" value="Iniciar Sesión" class="btn btn-success btn-sm" />

                                @Html.ActionLink(@Presentacion.Recursos.Recursos.LOGIN_OLVIDO_CONTRASEÑA, "RecuperarPsw", "Cuenta")
                            </div>


                            @if ((String)Session["ErrorLogin"] != null)
                            {<br />
                            <div class="alert alert-danger" role="alert">@Session["ErrorLogin"]!</div>
                            }
                        </div>

                    }

                </div>
            </div>

            <div class="col-lg-3 contact_col">
                <div class="contact_contents">

                    <h4>@Presentacion.Recursos.Recursos.LOGIN_TITULO_USUARIO_NUEVO</h4>
                    <hr />

                    <p><a href="~/RegistroCliente/Index" class="btn btn-lg btn-success" role="button">@Presentacion.Recursos.Recursos.BOTON_REGISTRAR</a></p>

                </div>
            </div>

        </div>
    </div>
</body>

@Html.Partial("_Espacio2")


@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

}


