@using Microsoft.AspNet.Identity
@if (Session["IdUsuario"] != null || Session["NombreUsuario"] != null || Session["PerfilUsuario"] != null)
{
    //using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    //{
        @Html.AntiForgeryToken()
    <ul class="navbar_user">
        @*<ul class="nav navbar-nav navbar-right">*@
        <li>
            @Html.ActionLink("Hola " + Session["NombreUsuario"] + "!", "Index", "Cuenta")
        </li>
        <li>@Html.ActionLink("Cerrar Sesión", "Index", "Logout")</li>
    </ul>
    //}
}
else
{<ul class="navbar_user">
    @*<ul class="nav navbar-nav navbar-right">*@
    <li>@Html.ActionLink("Registrarse", "Index", "RegistroCliente")</li>
    <li>@Html.ActionLink("Iniciar Sesión", "Index", "Login")</li>
</ul>
}
