@model IEnumerable<Entidades.Operacion>


@{
    ViewBag.Title = ViewBag.VENTAS_TITULO;

}


@Html.Partial("_Espacio1")
<div class="container contact_container">
    <h4>@ViewBag.VENTAS_TITULO</h4>

    <br />


    @using (Html.BeginForm("Index", "Ventas", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
            {

        <div class="row">
            <div class="col">

                <div class="form-group">
                    @ViewBag.ENTIDAD_FECHA_INICIO <input type="date" name="fecha" class="form-control" />
                </div>

                <div class="form-group">
                    @ViewBag.ENTIDAD_FECHA_FIN<input type="date" name="fechaFin" class="form-control" />
                </div>

            </div>

            <div class="col">
                @*<div class="form-group">
                    @ViewBag.ENTIDAD_USUARIO  <input type="text" name="usr" class="form-control" />
                </div>*@
                <br />
                <div class="form-group">
                    <p>
                        <button type="submit" value="Search" class="btn btn-success">@ViewBag.BITACORA_FILTROS_BOTON_FILTRAR</button>

                        @Html.ActionLink((String)ViewBag.BOTON_EXPORTAR_XML, "ExportarXML", null, new { @class = "btn btn-info btn-xl" })

                    </p>

                </div>
            </div>

        </div>
    }

    @if ((String)Session["ErrorFiltroVentas"] != null)
            {
        <br />
        <div class="alert alert-danger" role="alert">@Session["ErrorFiltroVentas"]!</div>


    }
    <br />

    @section scripts{

        <script>

            $(document).ready(function () {
                $('#table').DataTable();
            });

        </script>
    }

    <div class="row">
        <br />
        <table class="table" id="table">

            <thead>

                <tr>
                    <th>
                        @ViewBag.ENTIDAD_FECHAHORA
                    </th>
                    <th>
                        @ViewBag.ENTIDAD_RAZON_SOCIAL
                    </th>
                    <th>
                        @ViewBag.ENTIDAD_IMPORTE_TOTAL
                    </th>
                
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaHora)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.RazonSocial)
                        </td>
                        <td>
                            $ @Html.DisplayFor(modelItem => item.ImporteTotal).-
                        </td>
                       
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@Html.Partial("_Espacio2")
