@model IEnumerable<Entidades.Respaldo>

@Html.Partial("_Espacio1")

<body>

    <div class="container contact_container">

        <p><a href="~/Rescate/RealizarBackUp" class="btn btn-sm btn-info" role="button">Realizar Nuevo BackUp</a></p>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ruta)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ruta)
                    </td>

                    <td>
                        @Html.ActionLink("Restaurar", "RestaurarCopiaRespaldo", new { rutaCompleta = item.Ruta }, new { @class = "btn btn-success btn-sm" })
                        @*  @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    </td>
                </tr>
            }

        </table>
              
        <div class="form-group">
            @Html.ActionLink("Volver", "Index", "Rescate", null, new { @class = "btn btn-info btn-sm" })
        </div>

        </div>
    </body>
        @Html.Partial("_Espacio2")
