@model IEnumerable<Entidades.Respaldo>

@Html.Partial("_Espacio1")

<body>

    <div class="container contact_container">
        @if ((String)Session["IdiomaApp"] == "Esp" || (String)Session["IdiomaApp"] == null)
        {
            <p><a href="~/Rescate/RealizarBackUp" class="btn btn-sm btn-info" role="button">NUEVO RESPALDO DE DATOS</a></p>}
        else
        {  <p><a href="~/Rescate/RealizarBackUp" class="btn btn-sm btn-info" role="button">NEW BACKUP</a></p>}}

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ruta)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    @if ((String)Session["IdiomaApp"] == "Esp" || (String)Session["IdiomaApp"] == null)
                {
                        <td>
                            @Html.DisplayFor(modelItem => item.Ruta)
                        </td>

                        <td>
                            @Html.ActionLink("RESTAURAR", "RestaurarCopiaRespaldo", new { rutaCompleta = item.Ruta }, new { @class = "btn btn-success btn-sm" })

                        </td>}
                    else
                    {
                    <td>
                        Ruta del Archivo
                    </td>

                        <td>
                            @Html.ActionLink("RESTORE", "RestaurarCopiaRespaldo", new { rutaCompleta = item.Ruta }, new { @class = "btn btn-success btn-sm" })

                        </td> }
            </tr>
            }

        </table>
        @if ((String)Session["IdiomaApp"] == "Esp" || (String)Session["IdiomaApp"] == null)
        {
            <div class="form-group">
                @Html.ActionLink("VOLVER", "Index", "Rescate", null, new { @class = "btn btn-info btn-sm" })
            </div>}
        else
        {
            <div class="form-group">
                @Html.ActionLink("BACK", "Index", "Rescate", null, new { @class = "btn btn-info btn-sm" })
            </div>}

    </div>
</body>
@Html.Partial("_Espacio2")
