@{
    ViewBag.Title = "Productos en Carrito";
}

@Html.Partial("_Espacio1")

<body>

    <div class="container contact_container">

        <div class="row">
            <div class="col-lg-8">
                <h4>@ViewBag.PRODUCTO_CARRITO_TITULO</h4><br />
            </div>

        </div>

        @if ((int)Session["ItemsCarrito"] == 0)
            {
            <div>

                <div class="alert alert-success" role="alert">@ViewBag.PRODUCTO_CARRITO_LEYENDA_SIN_PRODUCTOS</div>

            </div>

        }

        @if ((int)Session["ItemsCarrito"] != 0)
            {
            <div class="row">
                <div class="col-lg-8">
                    <h5>@ViewBag.ENTIDAD_FECHA: @DateTime.Now.ToShortDateString()</h5>

                </div>


                <div class="col-lg-8">
                    <br />
                    @Html.ActionLink((String)ViewBag.BOTON_COMPRAR, "RealizarPago", "Producto", null, new { @class = "btn btn-info" })
                </div>

            </div>
            <br />
            <table class="table table-hover">
                <tr>
                    <th>
                        @ViewBag.ENTIDAD_CODIGO
                    </th>
                    <th>
                        @ViewBag.ENTIDAD_DESCRIPCION
                    </th>
                    <th>
                        @ViewBag.ENTIDAD_CANTIDAD
                    </th>
                    <th>

                    </th>
                    <th>
                        @ViewBag.ENTIDAD_PRECIO_UNITARIO
                    </th>
                    <th>
                        @ViewBag.ENTIDAD_SUBTOTAL
                    </th>

                </tr>
                @{
                    double total = 0;
                    double subTotal = 0;
                }


                @if (Session["Carrito"] != null)
                {
                    foreach (var item in Session["Carrito"] as List<Entidades.Carrito>)
                    {

                        subTotal = (double)(item.Precio * item.Cantidad);
                        total += (double)(item.Precio * item.Cantidad);


                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductoId)
                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.Descripcion)


                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Cantidad)
                            </td>


                            <td>@Html.ActionLink(" + ", "SumarProductoCarrito", new { productoId = item.ProductoId }, new { @class = "btn btn-success btn-sm" })</td>


                            <td>
                                $@Html.DisplayFor(modelItem => item.Precio).-
                            </td>
                            <td>
                                $@Html.DisplayFor(modelItem => subTotal).-
                            </td>
                            <td>
                                @Html.ActionLink((String)ViewBag.BOTON_QUITAR_PRODUCTO, "QuitarProductoCarrito", new { productoId = item.ProductoId }, new { @class = "btn btn-danger btn-sm" })
                            </td>
                        </tr>
                    }



                    <tr>
                        <th colspan="2">
                            <br />
                            @ViewBag.ENTIDAD_IMPORTE_TOTAL_PAGAR
                        </th>
                        <th>
                            <br />
                            @Html.DisplayName("$ " + total.ToString())
                        </th>
                        <th>

                        </th>
                    </tr>
                }
            </table>


                    } @*Cierro IF*@

                    <div class="row">
                        <div class="col-lg-12">
                            @Html.ActionLink((String)ViewBag.BOTON_AGREGAR_CARRITO, "Catalogo", "Producto", null, new { @class = "btn btn-success" })
                        </div>
                    </div>


                    @Html.Partial("_Espacio2")
                </div>
            </body>