@model Entidades.FrmTarjetaCredito

@Html.Partial("_Espacio1")

<body>

    <div class="container contact_container">

        <div class="row">

            <div class="col-lg-8 contact_col">
                <div class="contact_contents">

                    @using (Html.BeginForm("RealizarPagoTarjeta", "Producto"))
                    {
                        <h4>@ViewBag.PRODUCTO_PAGO_TC_TITULO</h4>
                        <hr />

                        if ((String)Session["IdiomaApp"] == "Esp" || (String)Session["IdiomaApp"] == null)
                        {
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.Titular, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                @ViewBag.ENTIDAD_TITULAR
                                <div class="col">
                                    @Html.EditorFor(model => model.Titular, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Titular, "", new { @class = "text-danger text-right" })
                                </div>
                            </div>


                            <div class="row">
                                <div class="col">

                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        @ViewBag.ENTIDAD_NUMERO_TC
                                        <div class="col">
                                            @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger text-right" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Marca_TC, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        @ViewBag.ENTIDAD_EMPRESA_TC
                                        <div class="col">
                                            @Html.DropDownListFor(m => m.Marca_TC.Id, new SelectList(ViewBag.Marcas_TC, "Id", "Descripcion"), "", new { @class = "form-control" })

                                            @Html.ValidationMessageFor(model => model.Marca_TC.Id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.MesVenc, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        @ViewBag.ENTIDAD_MES_V
                                        <div class="col">
                                            @Html.EditorFor(model => model.MesVenc, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MesVenc, "", new { @class = "text-danger text-right" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.AnioVenc, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        @ViewBag.ENTIDAD_ANIO_V
                                        <div class="col">
                                            @Html.EditorFor(model => model.AnioVenc, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AnioVenc, "", new { @class = "text-danger text-right" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.CodigoV, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        @ViewBag.ENTIDAD_CODIGO_SEG
                                        <div class="col">
                                            @Html.EditorFor(model => model.CodigoV, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CodigoV, "", new { @class = "text-danger text-right" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.Titular, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                @ViewBag.ENTIDAD_TITULAR
                                <div class="col">
                                    @Html.EditorFor(model => model.Titular_Eng, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Titular_Eng, "", new { @class = "text-danger text-right" })
                                </div>
                            </div>


                            <div class="row">
                                <div class="col">

                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        @ViewBag.ENTIDAD_NUMERO_TC
                                        <div class="col">
                                            @Html.EditorFor(model => model.Numero_Eng, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Numero_Eng, "", new { @class = "text-danger text-right" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Marca_TC, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        @ViewBag.ENTIDAD_EMPRESA_TC
                                        <div class="col">
                                            @Html.DropDownListFor(m => m.Marca_TC.Id, new SelectList(ViewBag.Marcas_TC, "Id", "Descripcion"), "", new { @class = "form-control" })

                                            @Html.ValidationMessageFor(model => model.Marca_TC.Id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.MesVenc, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        @ViewBag.ENTIDAD_MES_V
                                        <div class="col">
                                            @Html.EditorFor(model => model.MesVenc_Eng, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MesVenc_Eng, "", new { @class = "text-danger text-right" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.AnioVenc, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        @ViewBag.ENTIDAD_ANIO_V
                                        <div class="col">
                                            @Html.EditorFor(model => model.AnioVenc_Eng, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AnioVenc_Eng, "", new { @class = "text-danger text-right" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.CodigoV, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        @ViewBag.ENTIDAD_CODIGO_SEG
                                        <div class="col">
                                            @Html.EditorFor(model => model.CodigoV_Eng, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CodigoV_Eng, "", new { @class = "text-danger text-right" })
                                        </div>
                                    </div>
                                </div>

                            </div>


                        }
                        <br />
                        <H5>@ViewBag.ENTIDAD_CUOTAS</H5>

                        @*<br />*@
                        <hr />
                        <div class="form-group">

                            <input type="radio" name="radio_1" checked="checked" /> @ViewBag.CUOTA_1
                            <br />
                            <br />

                            <input type="radio" name="radio_1" /> @ViewBag.CUOTA_3
                            <br /><br />
                            <input type="radio" name="radio_1" /> @ViewBag.CUOTA_6
                            <br /><br />
                            <input type="radio" name="radio_1" /> @ViewBag.CUOTA_12
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="col">
                                <br />
                                <input type="submit" value="@ViewBag.BOTON_COMPRAR" class="btn btn-success" />
                            </div>

                        </div>

                    }

                    @if (Session["ErrorTarjetaCredito"] != null)
                    {<br />
                    <div class="alert alert-danger" role="alert">@Session["ErrorTarjetaCredito"]!</div>
                    }
                </div>
            </div>

            <div class="col-lg-4 contact_col">
                <div class="contact_contents">

                    <h4>@ViewBag.PRODUCTO_PAGO_CONTADO_TITULO</h4>
                    <hr />

                    <p>@ViewBag.PRODUCTO_PAGO_CONTADO_LEYENDA</p>


                    <div>@Html.ActionLink((String)ViewBag.BOTON_COMPRAR, "RealizarPagoContado", null, new { @class = "btn btn-success" })</div>
                </div>
            </div>

        </div>
    </div>
</body>

@Html.Partial("_Espacio2")


@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

}


