
<div class="main_slider" style="background-image: url('../../Imagenes/SeccionPrincipal/seccion_principal_2 (FILEminimizer).jpg');">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content">
                    <h1>@ViewBag.HOME_LEYENDA_PRINCIPAL_1</h1>
                    <h3>@ViewBag.HOME_LEYENDA_PRINCIPAL_2</h3>
                    <div class="red_button shop_now_button"><a href="/Producto/Catalogo">@ViewBag.BOTON_CATALOGO</a></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Deal of the week -->

<div class="deal_ofthe_week">
    <div class="container">

        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>@ViewBag.HOME_TITULO_OFERTA_SEMANAL</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="deal_ofthe_week_img">
                    <img src="~/Imagenes/SeccionOfertaSemanal/oferta_semanal.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 text-center deal_ofthe_week_col">
                <div class="deal_ofthe_week_content d-flex flex-column align-items-center">
                    @*<div class="section_title align-content-center">
                            <h2>Oferta Semanal</h2>
                        </div>*@
                    <ul class="timer">
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="day" class="timer_num">05</div>
                            <div class="timer_unit">@ViewBag.HOME_LEYENDA_OFERTA_DIAS</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="hour" class="timer_num">15</div>
                            <div class="timer_unit">@ViewBag.HOME_LEYENDA_OFERTA_HORAS</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="minute" class="timer_num">45</div>
                            <div class="timer_unit">@ViewBag.HOME_LEYENDA_OFERTA_MINUTOS</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="second" class="timer_num">23</div>
                            <div class="timer_unit">@ViewBag.HOME_LEYENDA_OFERTA_SEGUNDOS</div>
                        </li>
                    </ul>

                    @*<div class="container fill_height">*@
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="main_slider_content">
                                <br />
                                <br />
                                <h2>25% OFF!!</h2>
                                <h2>@ViewBag.PRODUCTO_IMPRESORA_AUTOMATICA   AU 365</h2>

                                <br />
                                <br />
                                @*<div class="red_button shop_now_button"><a href="#">shop now</a></div>*@
                            </div>
                        </div>
                    </div>
                    @*</div>*@
                    @*<div class="red_button deal_ofthe_week_button" size="xl"><a href="#">Comprar</a></div>*@
                    <div class="red_button shop_now_button" size="xl">@Html.ActionLink((String)ViewBag.BOTON_COMPRAR, "DetalleProducto", "Producto", new { productoId = 365 }, null)</div>
                                                                     
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Blogs -->

<div class="blogs">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title">
                    <h2>@ViewBag.HOME_TITULO_BENEFICIOS</h2>
                </div>
            </div>
        </div>

        <div class="row blogs_container">

            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image: url('../../Imagenes/SeccionBeneficios/beneficios_24x7 (FILEminimizer).jpg')"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">@ViewBag.HOME_SERVICIO_LUGAR_LEYENDA_1 </h4>
                        <span class="blog_meta">@ViewBag.HOME_SERVICIO_LUGAR_LEYENDA_2</span>
                        @*<a class="blog_more" href="#">Read more</a>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image: url('../../Imagenes/SeccionBeneficios/beneficios_servicios_logistica (FILEminimizer).jpg')"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">@ViewBag.HOME_SERVICIO_ENVIO_LEYENDA_1</h4>
                        <span class="blog_meta">@ViewBag.HOME_SERVICIO_ENVIO_LEYENDA_2</span>
                        @*<a class="blog_more" href="#">Read more</a>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image: url('../../Imagenes/SeccionBeneficios/beneficios_materiales (FILEminimizer).jpg')"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">@ViewBag.HOME_SERVICIO_MATERIALES_LEYENDA_1</h4>
                        <span class="blog_meta">@ViewBag.HOME_SERVICIO_MATERIALES_LEYENDA_2</span>
                        @*<a class="blog_more" href="#">Read more</a>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="row blogs_container">

            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image: url('../../Imagenes/SeccionBeneficios/beneficios_sustentable (FILEminimizer).jpg')"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">@ViewBag.HOME_SERVICIO_ECOLOGIA_LEYENDA_1</h4>
                        <span class="blog_meta">@ViewBag.HOME_SERVICIO_ECOLOGIA_LEYENDA_2</span>
                        @*<a class="blog_more" href="#">Read more</a>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image: url('../../Imagenes/SeccionBeneficios/beneficios_servicio_tecnico (FILEminimizer).jpg')"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">@ViewBag.HOME_SERVICIO_TECNICO_LEYENDA_1</h4>
                        <span class="blog_meta">@ViewBag.HOME_SERVICIO_TECNICO_LEYENDA_2</span>
                        @*<a class="blog_more" href="#">Read more</a>*@
                    </div>
                </div>
            </div>


            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image: url('../../Imagenes/SeccionBeneficios/beneficios_importadores (FILEminimizer).jpg')"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">@ViewBag.HOME_SERVICIO_IMPORTADOS_LEYENDA_1</h4>
                        <span class="blog_meta">@ViewBag.HOME_SERVICIO_IMPORTADOS_LEYENDA_2</span>
                        @*<a class="blog_more" href="#">Read more</a>*@
                    </div>
                </div>
            </div>



        </div>

    </div>
</div>

<!-- Newsletter -->

@*<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
                    <h4>@ViewBag.HOME_TITULO_FOLLETO</h4>
                    <p>@ViewBag.HOME_LEYENDA_FOLLETO</p>
                </div>
            </div>
            <div class="col-lg-6">
                <form action="post">
                    <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                        <input id="newsletter_email" type="email" placeholder="Ingresa tu correo" required="required" data-error="Valid email is required.">
                        <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">@ViewBag.BOTON_SUSCRIPCION</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>*@