@model IEnumerable<Entidades.IntegridadRegistros>

@{
    ViewBag.Title = "Usuarios WebMaster";

}

@Html.Partial("_Espacio1")
<body>
    <br />
    <br />
    <div class="container contact_container">

        @{ var cantidad = Model.Count();

            if (cantidad == 0)
            {
                <div>
                    @if ((String)Session["IdiomaApp"] == "Esp" || (String)Session["IdiomaApp"] == null)
                    {
                        <div class="alert alert-success" role="alert">NO SE HAN ENCONTRADO PROBLEMAS DE INTEGRIDAD</div>
                    }
                    else
                    {<div class="alert alert-success" role="alert">NO PROBLEMS OF INTEGRITY HAVE BEEN FOUND</div>}
                </div>
            }
            else
            {

                if ((String)Session["IdiomaApp"] == "Esp" || (String)Session["IdiomaApp"] == null)
                {
                    <h3>DETALLE DE TABLAS CORRUPTAS</h3>
                    <br />

                    <p><a href="~/Rescate/SolucionarIntegridad" class="btn btn-sm btn-info" role="button">SOLUCIONAR ERRORES</a></p>}
                else
                {
                    <h3>CORRUPT TABLES DETAILS</h3>
                    <br />

                    <p><a href="~/Rescate/SolucionarIntegridad" class="btn btn-sm btn-info" role="button">SOLVE ERRORS</a></p>}


                <table class="table">
                    <tr>
                        @if ((String)Session["IdiomaApp"] == "Esp" || (String)Session["IdiomaApp"] == null)
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.Col_A)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Col_B)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Col_C)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Col_D)
                            </th>
                        }
                        else
                        {
                            <th>
                                PROBLEM
                            </th>
                            <th>
                                TABLE
                            </th>
                            <th>
                                REGISTER
                            </th>
                            <th>
                                DETAILS
                            </th>
                            <th>

                            </th>
                            <th>

                            </th>


                            <th></th>}
                    </tr>

                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Col_A)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Col_B)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Col_C)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Col_D)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Col_E)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Col_F)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Col_G)
                            </td>
                        </tr>
                    }

                </table>
            }
        }

    </div>
</body>

@Html.Partial("_Espacio2")
