@model Entidades.Usuario

@{
    ViewBag.Title = Presentacion.Recursos.Recursos.CUENTA_DETALLE_TITULO;

}

@Html.Partial("_Espacio1")

<body>

    <div class="container contact_container">

        <h4>@Presentacion.Recursos.Recursos.CUENTA_DETALLE_TITULO</h4>

        
        <hr />

        <div class="row">

            <div class="col">
                @Presentacion.Recursos.Recursos.CUENTA_DETALLE_DATOSPERSONALES
                <hr />
                <dl>
                    @if ((String)Session["PerfilUsuario"] == "Cliente")
                    {

                        <dt>@Html.DisplayNameFor(model => model.RazonSocial)</dt>
                        <dd>@Html.DisplayFor(model => model.RazonSocial)</dd>

                        <dt>@Html.DisplayNameFor(model => model.CUIL)</dt>
                        <dd>@Html.DisplayFor(model => model.CUIL)</dd>

                        <dt>Usuario / Email</dt>

                        <dd>@Html.DisplayFor(model => model.Email)</dd>

                    }

                    @if ((String)Session["PerfilUsuario"] != "Cliente")
                    {

                        <dt> @Html.DisplayNameFor(model => model.Nombre)</dt>
                        <dd> @Html.DisplayFor(model => model.Nombre)</dd>

                        <dt>@Html.DisplayNameFor(model => model.Apellido)</dt>

                        <dd>@Html.DisplayFor(model => model.Apellido)</dd>

                    }                                                           

                </dl>

            </div>

            <div class="col">


                @Presentacion.Recursos.Recursos.CUENTA_DETALLE_DATOSCONTACTO
                <hr />

                <div class="col">
                    <dl>
                        
                        <dt>@Html.DisplayNameFor(model => model.Telefono)</dt>

                        <dd>@Html.DisplayFor(model => model.Telefono)</dd>
                
                        <dt>
                            @Html.DisplayNameFor(model => model.Direccion)
                        </dt>

                        <dd>  @Html.DisplayFor(model => model.Direccion)</dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Localidad)
                        </dt>

                        <dd> @Html.DisplayFor(model => model.Localidad.Descripcion)</dd>

                    </dl>
                </div>
            </div>



            <div class="col">
                                
                @Presentacion.Recursos.Recursos.CUENTA_DETALLE_IDIOMA
                <hr />
                <dl>
                    @*<dt>
                        @Html.DisplayNameFor(model => model.Idioma)
                    </dt>*@

                    <dt>
                        @Html.DisplayFor(model => model.Idioma.Descripcion)
                    </dt>
</dl>

                @*@Html.ActionLink("Cambiar Idioma", "ActualizarDatosCuenta", new { id = Model.Id }, new { @class = "btn btn-info btn-sm" })*@
            </div>

        </div>
        <hr />
        <br />
        

        <div class="row">

            <p>
                @Html.ActionLink(@Presentacion.Recursos.Recursos.CUENTA_DETALLE_BOTON_ACTUALIZARDATOS, "ActualizarDatosCuenta", new { id = Model.Id }, new { @class = "btn btn-info btn-sm" })
            </p>

        </div>

    </div>

</body>

@Html.Partial("_Espacio2")