@model Entidades.Usuario

@{
    ViewBag.Title = ViewBag.CUENTA_DETALLE_TITULO;

}

@Html.Partial("_Espacio1")

<body>

    <div class="container contact_container">

        <h4>@ViewBag.CUENTA_DETALLE_TITULO</h4>


        <hr />

        <div class="row">

            <div class="col">
                @ViewBag.CUENTA_DETALLE_DATOSPERSONALES
                <hr />
                <dl>
                    @if ((String)Session["PerfilUsuario"] == "Cliente")
                    {

                        <dt>@ViewBag.ENTIDAD_RAZONSOCIAL</dt>
                        <dd>@Html.DisplayFor(model => model.RazonSocial)</dd>

                        <dt>@ViewBag.ENTIDAD_CUIL</dt>
                        <dd>@Html.DisplayFor(model => model.CUIL)</dd>

                        <dt>@ViewBag.ENTIDAD_USUARIO_MAIL</dt>

                        <dd>@Html.DisplayFor(model => model.Email)</dd>

                    }

                    @if ((String)Session["PerfilUsuario"] != "Cliente")
                    {

                        <dt> @ViewBag.ENTIDAD_NOMBRE</dt>
                        <dd> @Html.DisplayFor(model => model.Nombre)</dd>

                        <dt>@ViewBag.ENTIDAD_APELLIDO</dt>

                        <dd>@Html.DisplayFor(model => model.Apellido)</dd>

                    }

                </dl>

            </div>

            <div class="col">


                @ViewBag.CUENTA_DETALLE_DATOSCONTACTO
                <hr />

                <div class="col">
                    <dl>

                        <dt>@ViewBag.ENTIDAD_TELEFONO</dt>

                        <dd>@Html.DisplayFor(model => model.Telefono)</dd>

                        <dt>
                            @ViewBag.ENTIDAD_DIRECCION)
                        </dt>

                        <dd>  @Html.DisplayFor(model => model.Direccion)</dd>

                        <dt>
                            @ViewBag.ENTIDAD_LOCALIDAD)
                        </dt>

                        <dd> @Html.DisplayFor(model => model.Localidad.Descripcion)</dd>

                    </dl>
                </div>
            </div>



            <div class="col">

                @ViewBag.CUENTA_DETALLE_IDIOMA
                <hr />
                <dl>
                   
                    <dt>
                        @Html.DisplayFor(model => model.Idioma.Descripcion)
                    </dt>
                </dl>
                <br />
                <div>@Html.ActionLink((String)ViewBag.BOTON_ACTUALIZAR_PSW, "CambiarPsw", null, new { @class = "btn btn-info btn-sm" })</div>
                <br />
                <div>@Html.ActionLink((String)ViewBag.BOTON_ACTUALIZAR_DATOS_CUENTA, "ActualizarDatosCuenta", new { id = Model.Id }, new { @class = "btn btn-success btn-xl" })</div>

            </div>

        </div>

    </div>

</body>

@Html.Partial("_Espacio2")