@model IEnumerable<Entidades.Informacion>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.RazonSocial): @Html.DisplayFor(modelItem => item.RazonSocial) @Html.ActionLink("Editar", "Editar", new { id = item.RazonSocial })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Direccion): @Html.DisplayFor(modelItem => item.Direccion)@Html.ActionLink("Editar", "Editar", new { id = item.Direccion })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Telefono): @Html.DisplayFor(modelItem => item.Telefono) @Html.ActionLink("Editar", "Editar", new { id = item.Telefono })
            </td>
        </tr>

    }

</table>
