@model IEnumerable<Entidades.Usuario>


@{
    ViewBag.Title = ViewBag.CUENTA_LISTADO_USUARIOS;

}

@Html.Partial("_Espacio1")

<body>

    <div class="container contact_container">

        <h4>@ViewBag.CUENTA_LISTADO_USUARIOS</h4>

        <br />
        <p>
           <a href="~/RegistroUsuarioAdministrativo/Index" class="btn btn-sm btn-info" role="button">@ViewBag.BOTON_ALTA_USR_ADMINISTRATIVO</a>
        </p>

        <table class="table">
            <tr>

                <th>
                    @ViewBag.ENTIDAD_USUARIO
                </th>

                <th>
                    @ViewBag.ENTIDAD_DESCRIPCION
                </th>

                <th>
                    @ViewBag.ENTIDAD_FECHA_ALTA
                </th>

                <th></th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Usr)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PerfilUsr.Descripcion)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.FechaAlta)
                    </td>

                    <td>
                        @Html.ActionLink((String)ViewBag.BOTON_PERMISOS, "VerPermisosUsuario", new { idUsr = item.Id }, new { @class = "btn btn-info btn-sm" })
                    </td>
                    <td>
                        @if (item.Estado == "B")

                        {@Html.ActionLink((String)ViewBag.BOTON_DESBLOQUEAR_CUENTA, "DesbloquearCuenta", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })}


                        @if (item.Estado == "S" && item.PerfilUsr.Descripcion != "WebMaster")

                        {@Html.ActionLink((String)ViewBag.BOTON_BLOQUEAR_CUENTA, "BloquearCuenta", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })}
                    </td>

                    <td>
                        @if (item.PerfilUsr.Descripcion != "WebMaster")

                        { @Html.ActionLink((String)ViewBag.BOTON_ELIMINAR_CUENTA, "BloquearCuenta", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })}
                    </td>
                </tr>
            }

        </table>

        @Html.Partial("_Espacio2")


    </div>
</body>