@model IEnumerable<Entidades.Operacion>

@{
    ViewBag.Title = ViewBag.TITULO_COMPRAS;

}

@Html.Partial("_Espacio1")

<div class="container contact_container">
    <h2>@ViewBag.TITULO_COMPRAS</h2>
    <br />


    <table class="table">
        <tr>
            @if ((String)Session["IdiomaApp"] == "Esp" || (String)Session["IdiomaApp"] == null)
            {
                <th>
                    Fecha/Hora
                </th>

                <th>
                    Forma de Pago
                </th>

                <th>
                    Importe Total
                </th>

                <th>
                    Código de Factura
                </th>

                <th>
                    Estado
                </th>

                <th></th>
            }
            else
            {
                <th>
                    Date/Time
                </th>

                <th>
                    Payment Method
                </th>

                <th>
                    Total Amount
                </th>

                <th>
                    Invoice Number
                </th>

                <th>
                    Estate
                </th>

                <th></th>
                <th></th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaHora)
                </td>
                @if (((String)Session["IdiomaApp"] == "Esp" || (String)Session["IdiomaApp"] == null) && item.FormaPago.Id == 1)
                {
                    <td>
                        CONTADO
                    </td>
                }
                @if ((String)Session["IdiomaApp"] == "Eng" && item.FormaPago.Id == 1)
                {
                    <td>
                        CASH
                    </td>
                }
                @if (((String)Session["IdiomaApp"] == "Esp" || (String)Session["IdiomaApp"] == null) && item.FormaPago.Id == 2)
                {
                    <td>
                        TARJETA DE CRÉDITO
                    </td>
                }
                @if ((String)Session["IdiomaApp"] == "Eng" && item.FormaPago.Id == 2)
                {
                    <td>
                        CREDIT CARD
                    </td>
                }
                <td>
                    $ @Html.DisplayFor(modelItem => item.ImporteTotal).-
                </td>

                <td>
                    Nº000- @Html.DisplayFor(modelmodelItem => item.Factura.Codigo)
                </td>

                @if (((String)Session["IdiomaApp"] == "Esp" || (String)Session["IdiomaApp"] == null) && item.Estado.Id == 1)
                {
                    <td>
                        APROBADA
                    </td>
                }
                @if ((String)Session["IdiomaApp"] == "Eng" && item.Estado.Id == 1)
                {
                    <td>
                        APROBED
                    </td>
                }
                @if (((String)Session["IdiomaApp"] == "Esp" || (String)Session["IdiomaApp"] == null) && item.Estado.Id == 2)
                {
                    <td>
                        PENDIENTE
                    </td>
                }
                @if ((String)Session["IdiomaApp"] == "Eng" && item.Estado.Id == 2)
                {
                    <td>
                        WATTING PAYMENT
                    </td>
                }

                @if (((String)Session["IdiomaApp"] == "Esp" || (String)Session["IdiomaApp"] == null) && item.Estado.Id == 3)
                {
                    <td>
                        CANCELADA
                    </td>
                }
                @if ((String)Session["IdiomaApp"] == "Eng" && item.Estado.Id == 3)
                {
                    <td>
                        CENCELLED
                    </td>
                }

                @if (item.Estado.Id != 3)
                {
                    <td>@Html.ActionLink((String)ViewBag.BOTON_CANCELAR_OPERACION, "CancelarOperacion", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })</td>

                    <td>@Html.ActionLink((String)ViewBag.BOTON_REENVIAR_FACTURA, "ReenviarFactura", new { facturaId = item.Id }, new { @class = "btn btn-success btn-sm" })</td>
                }
                </tr>
                }

    </table>

</div>
@Html.Partial("_Espacio2")


