@model IEnumerable<Entidades.Operacion>

@{
    ViewBag.Title = ViewBag.TITULO_COMPRAS;

}

@Html.Partial("_Espacio1")

<div class="container contact_container">
    <h2>@ViewBag.TITULO_COMPRAS</h2>
    <br />


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaHora)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.ImporteTotal)
            </th>
            
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaHora)
                </td>
               
                <td>
                    $ @Html.DisplayFor(modelItem => item.ImporteTotal).-
                </td>
               
                <td>@Html.ActionLink((String)ViewBag.BOTON_REENVIAR_FACTURA, "ReenviarFactura", new { facturaId = item.Id }, new { @class = "btn btn-success btn-sm" })</td>
            </tr>
        }

    </table>

</div>
@Html.Partial("_Espacio2")


