@model Entidades.FrmOlvidoPsw

@{
    ViewBag.Title = ViewBag.CUENTA_RECUPERAR_PSW_TITULO;

}

@Html.Partial("_Espacio1")

<body>

    <div class="container contact_container">

        <h4>@ViewBag.CUENTA_RECUPERAR_PSW_TITULO</h4>

        @using (Html.BeginForm("EnviarNuevaPsw", "Cuenta", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @*<h4>Especifique su correo electrónico.</h4>*@
            <hr />

            <div class="form-group">
                @*@Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @ViewBag.ENTIDAD_USUARIO
                <div class="col-md-10">
                    @if ((String)Session["IdiomaApp"] == "Esp" || (String)Session["IdiomaApp"] == null)
                    {
                        @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger text-right" })}
                    else
                    {
                        @Html.EditorFor(model => model.Usuario_Eng, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.Usuario_Eng, "", new { @class = "text-danger text-right" })}
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value=@ViewBag.BOTON_RECUPERAR_PSW class="btn btn-success" />
                </div>

                @if ((String)Session["ErrorRecuperoPsw"] != null)
                {<br />
                <div class="alert alert-danger" role="alert">@Session["ErrorRecuperoPsw"]!</div>
                }

            </div>
        }
    </div>
    @Html.Partial("_Espacio2")

</body>

@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

}




